@import url("https://fonts.googleapis.com/css2?family=Asap&family=Roboto:ital,wght@0,500;0,900;1,500&display=swap");

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0 20px 30px 0;
    line-height: 1.4;
}
.flex-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 2s all ease;
}

.flex-item{
    background: cyan;
    border: 1pt solid black;
    width: 10px;
    transition: 0.1s all ease;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

#input{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.h1{
    position: relative;
    left: 10%;
    width: 80%;
    font-size: 60px;
    font-weight: 600;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: repeating-radial-gradient(farthest-side at 5px 5px,#2240c5, #e27b1a, #971ec7);
}

.newArray {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.newArray:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.newArray:active {
    color: #000
}

.newArray:active:after {
    background: transparent;
}

.newArray:before {
    
    opacity: 1;
}

.newArray:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}